<html>
<head>
    <!--bootstrap cdn-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--custom css-->
    <style>
        html, body
        {
            font-family: Verdana;
            font-size: 13px;
        }

        .img-stl {
            padding: 0 0 15px 0;
        }

        .left {
            background: #E0E0E0;
            padding: 2px 10px 0 30px;
        }
        .title-text-left {
            font-size: 15px;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
        .about-text {
            text-align: justify;
        }
        .social-icon {
            vertical-align: middle;
            margin-right: 8px;
            padding: 0 0 4px 0;
        }
        .padding-top {
            padding: 5px 0 0 0;
        }
        .padding-bottom {
            padding: 0 0 5px 0;
        }
        .padding-skills {
            padding: 5px 0 5px 0;
        }
        .title-padding-top {
            padding: 10px 0 0 0;
        }
        .cv-title-area {
            text-align: center;
        }
        .cv-name {
            font-size: 30px;
        }
        .line-style {
            position: absolute;
            left: 10%;
            border-bottom: 1px solid #607D8B;
            width: 80%;
        }
        .cv-profession {
            font-size: 15px;
            font-weight: 500;
            font-style: italic;
            color: #4f4f4f;
            padding: 5px 0 15px 0;
        }
        .rightside-title {
            padding: 2px 0 2px 15px;
            background: #E0E0E0;
            font-size: 15px;
            font-weight: bold;

        }
        .total-year-ex {
            padding: 10px 0 10px 15px;
            color: #1B5E20;
            font-weight: 600;
        }
        .title-row {
            padding: 0 15px 15px 15px;
        }
        .year {
            font-weight: bold;
            color: #4b4b4b;
        }
        .organization {
            font-size: 15px;
            font-weight: 600;
            color: #1565C0;
        }
        .designation {
            font-size: 13px;
            font-weight: 500;
            color: #1565C0;
        }





    </style>
</head>

<body>

<div class="row">

    <!--left portion-->
    <div class="col-xs-4 left">
        <div class="img-stl" align="center">
            <img  src="https://files.brightside.me/files/news/part_40/405260/17348610-28915460-19-0-1510999118-1510999120-650-1-1510999120-650-0ed2680320-1511941202.jpg" alt="image" height="200" width="200">
        </div>

        <div>
            <div class="title-text-left title-padding-top">ABOUT </div>
            <div class="padding-top"></div>

            <p class="about-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and human.
            </p>
        </div>

        <div>
            <div class="title-text-left title-padding-top">MAILING ADDRESS</div>
            <div class="padding-top"></div>

            <p class="about-text">Ward: 4, Jhikra North, Kalaroa, Kalaroa, Satkhira-9410</p>
            <div><img class="social-icon" src="/images/phone.png" alt="" height="20">01818486107</div>
            <div><img class="social-icon" src="/images/email.png" alt="" height="20">monirzaman_pradhania@gmail.com</div>
            <!--<p><img class="social-icon" src="/images/github.png" alt="" height="25">www.github.com/monirTuhin</p>-->
        </div>

        <div>
            <div class="title-text-left title-padding-top">FOLLOW ME</div>
            <div class="padding-top"></div>
            <div><img class="social-icon" src="/images/website.png" alt="" height="20">www.monirzaman.me</div>
            <div><img class="social-icon" src="/images/linkedIn.png" alt="" height="20">www.linkedIn.com/monirtuhin</div>
            <div><img class="social-icon" src="/images/github.png" alt="" height="20">www.github.com/monirTuhin</div>
            <div><img class="social-icon" src="/images/stackoverflow.png" alt="" height="20">www.stackoverflow.com/monirTuhin</div>
        </div>

        <div>
            <div class="title-text-left title-padding-top">SKILLS</div>
            <div class="padding-top"></div>
            <div>
                <div class="padding-skills"><span>Javascript</span></div>
                <div class="padding-skills"><span>Angular</span></div>
                <div class="padding-skills"><span>MongoDB</span></div>
                <div class="padding-skills"><span>NodeJs</span></div>
                <div class="padding-skills"><span>HTML</span></div>
                <div class="padding-skills"><span>CSS</span></div>
                <div class="padding-skills"><span>ExpressJs</span></div>
                <div class="padding-skills"><span>Wkhtmltopdf</span></div>
                <div class="padding-skills"><span>Git</span></div>
                <div class="padding-skills"><span>Angular Material</span></div>
                <div class="padding-skills"><span>Flex</span></div>
                <div class="padding-skills"><span>Bootstrap</span></div>
                <div class="padding-skills"><span>Jetbrains Idea</span></div>
                <div class="padding-skills"><span>Jquery</span></div>
                <div class="padding-skills"><span>JSPdf</span></div>
            </div>

        </div>

    </div>
    <!--left portion-->


    <!--right portion-->
    <div class="col-xs-8" style="padding: 0">

        <div class="cv-title-area">
            <div class="cv-name">MD. MONIRUZZAMAN </div>
            <div class="line-style"></div>
            <div class="cv-profession">FULL STACK DEVELOPER</div>
        </div>

        <div>
            <div class="rightside-title">
                <img class="social-icon" src="/images/experiences.png" alt="" height="25">Experiences
            </div>

            <div class="total-year-ex">Total Year of Experience : 3.8 Year(s)</div>

            <div class="row title-row">
                <div class="col-xs-3 year">2015 - 2016</div>
                <div class="col-xs-9">
                    <div class="organization">Daffodil Software Ltd.</div>
                    <div class="designation">Software Engineer</div>
                    <div style="text-align: justify"><span style="color: #4b4b4b; font-style: italic">Responsibilities :&nbsp;</span>
                        I have worked with Business ERP and Education ERP. I have worked with several existing software with support and new modules. Worked with technologies which are: Angular, NodeJs, MongoDB, Javascript.
                    </div>
                </div>
            </div>

            <div class="row title-row">
                <div class="col-xs-3 year">2016 - 2018</div>
                <div class="col-xs-9">
                    <div class="organization">Enosys Software Ltd.</div>
                    <div class="designation">Software Engineer</div>
                    <div style="text-align: justify"><span style="color: #4b4b4b; font-style: italic">Responsibilities :&nbsp;</span>
                        I have worked with Business ERP and Education ERP. I have worked with several existing software with support and new modules. Worked with technologies which are: Angular, NodeJs, MongoDB, Javascript.
                    </div>
                </div>
            </div>

            <div class="row title-row">
                <div class="col-xs-3 year">2018 - Continue</div>
                <div class="col-xs-9">
                    <div class="organization">Dutch Bangla Bank Ltd.</div>
                    <div class="designation">Sr. Software Engineer</div>
                    <div style="text-align: justify"><span style="color: #4b4b4b; font-style: italic">Responsibilities :&nbsp;</span>
                        I have worked with Business ERP and Education ERP. I have worked with several existing software with support and new modules. Worked with technologies which are: Angular, NodeJs, MongoDB, Javascript.
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="rightside-title">
                <img class="social-icon" src="/images/training.png" alt="" height="25">Training
            </div>
            <div class="row title-row" style="padding-top: 10px">
                <div class="col-xs-3 year" >2015</div>
                <div class="col-xs-9" >
                    <div class="organization">Android Apps Development</div>
                    <div class="designation">Bangladesh Institute of Training Management (BITM)</div>
                    <div><span style="color: #4b4b4b; font-style: italic">Duration :&nbsp;</span>3 Month</div>
                </div>
            </div>

            <div class="row title-row">
                <div class="col-xs-3 year" >2015</div>
                <div class="col-xs-9" >
                    <div class="organization">Titanium Mobile Application</div>
                    <div class="designation">Grameen Solutions Ltd.</div>
                    <div><span style="color: #4b4b4b; font-style: italic">Duration :&nbsp;</span>20 days</div>
                </div>
            </div>

            <div class="row title-row">
                <div class="col-xs-3 year" >2015</div>
                <div class="col-xs-9" >
                    <div class="organization">IDB BISWE IT Scholarship </div>
                    <div class="designation">Islamic Development Bank (IDB)</div>
                    <div><span style="color: #4b4b4b; font-style: italic">Duration :&nbsp;</span>1080 Hours</div>
                </div>
            </div>
        </div>


        <div>
            <div class="rightside-title">
                <img class="social-icon" src="/images/education.png" alt="" height="25">Educations
            </div>
            <div class="row title-row" style="padding-top: 10px">
                <div class="col-xs-3 year">2010</div>
                <div class="col-xs-9" >
                    <div class="organization">Jahanginagar University</div>
                    <div class="designation">MSc in Geography and Environment</div>
                </div>
            </div>

            <div class="row title-row">
                <div class="col-xs-3 year" >2010</div>
                <div class="col-xs-9" >
                    <div class="organization">Jahanginagar University</div>
                    <div class="designation">BSc in Geography and Environment</div>
                </div>
            </div>
        </div>


        <div>
            <div class="rightside-title">
                <img class="social-icon" src="/images/reference.png" alt="" height="25">Reference
            </div>
            <div class="title-row">
                <div style="padding-top: 10px">
                    <div style="font-size: 14px; font-weight: 600; padding-bottom: 5px">Md. Rashed Karim</div>
                    <div><span style="color: #4b4b4b; font-style: italic">Relation :&nbsp;</span>Professional</div>
                    <div><span style="color: #4b4b4b; font-style: italic">Mobile No :&nbsp;</span>01711374586</div>
                </div>
            </div>
        </div>



    </div>
    <!--right portion-->

</div>









</body>

</html>